$blue_flag: #2C5BAE;
$blue_background: rgb(169, 211, 244);
$pure_white: rgba(255, 255, 255, 1);
$pure_black: rgba(0, 0, 0, 1);
$heading2-color: rgb(30, 4, 102);
$pure_white_opacity: rgba(255, 255, 255, 0.4);
$offwhite: #ddd;

$light-blue-gradient: rgb(200, 230, 239);
$background-h2: rgba(255, 255, 255, 0.4);

$background-blockquote: rgb(218, 226, 231);
$border-blockquote: rgb(66, 113, 122);
$text-blockquote: rgb(17, 45, 57);
$sign-blockquote: rgb(29, 80, 89);

$table-color1: rgba($color: #ffffff, $alpha: 0.8);
$table-color2: rgba($color: #b5dce3, $alpha: 0.8);

$border-button: rgb(25, 5, 84);

$shadow-color-box: #999;
$shadow-color-text: rgb(188, 175, 175);

$background-fact: rgb(222, 132, 222);
$border-fact: rgb(136, 20, 136);


$analogue1: rgba(59, 179, 196, 0.5);
$analogue2: rgba(126, 171, 245, 0.75);
$analogue3: rgba(96, 204, 163, 0.5);
$analogue4: rgba(69, 197, 232, 0.5);
$analogue5: rgba(148, 217, 197, 0.5);
$analogueborder: rgba(59, 111, 196, 0.75);
$alternative: rgba(202, 220, 69, 0.5);


$analogue1-border: rgba(59, 179, 196, 1);
$analogue2-border: rgba(126, 171, 245, 1);
$analogue3-border: rgba(96, 204, 163, 1);
$analogue4-border: rgba(69, 197, 232, 1);
$analogue5-border: rgba(148, 217, 197, 1);
$alternative-border: rgba(202, 220, 69, 1);

$media-medium: 800px;
$media-large: 1300px;

$img-left: 2fr 1fr;
$img-right: 1fr 2fr;